- name: Install system packages
  become: true
  pacman:
    name:
      - base-devel
  tags:
    - install
    - base

- name: Install terminal font
  become: true
  pacman:
    name:
      - ttf-jetbrains-mono-nerd 
  tags:
    - install
    - base
