- name: Install system packages
  become: true
  pacman:
    name:
      - base-devel
      - git
  tags:
    - install
    - base

- name: Install sway & wayland essentials
  become: true
  pacman:
    name:
      - sway
      - swaybg
      - swayidle
      - xorg-xwayland
      - waybar
      - rofi
      - mako
      - kanshi
      - alacritty
      - polkit
      - wl-clipboard
      - bluez
      - alacritty
      - nwg-look
      - gnome-themes-extra
  tags:
    - install
    - base

- name: Install audio
  become: true
  pacman:
    name:
      - pipewire
      - wireplumber
      - alsa-utils
      - pavucontrol
    state: present
  tags:
    - install
    - base

- name: Install greeter
  become: true
  pacman:
    name: ly
    update_cache: yes
    state: present
  tags:
    - install
    - base

- name: Enable greeter service
  become: true
  systemd:
    name: ly@tty2.service
    enabled: yes
    daemon_reload: yes
  tags:
    - install
    - base

- name: Install system applications
  become: true
  pacman:
    name:
      - thunar
      - gvfs
      - thunar-archive-plugin
    state: present
  tags:
    - install
    - base

- name: Install fonts
  become: true
  pacman:
    name:
      - ttf-jetbrains-mono-nerd 
      - inter-font
      - noto-fonts-emoji
      - otf-font-awesome
    state: present
  tags:
    - install
    - base

- name: Create the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    create_home: true
    group: wheel
  tags:
    - install
    - base

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    create: yes
    mode: 0644
    validate: 'visudo -cf %s'
  tags:
    - install
    - base


- name: Install utilities
  kewlfft.aur.aur:
    use: yay
    name:
      - rofi-bluetooth-git
      - networkmanager-dmenu-git
      - swaylock-effects
      - brave-bin
      - wdisplays
    state: present
  become: true
  become_user: aur_builder
  tags:
    - install
    - base

- name: Remove sudo privileges for `aur_builder` user
  become: yes
  ansible.builtin.file:
    path: /etc/sudoers.d/11-install-aur_builder
    state: absent
  tags:
    - install
    - base

- name: Remove the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    state: absent
    remove: yes
  tags:
    - install
    - base



